<%include partials/_header%>
  <div class="container">

    <h2>My URLS:</h2>
    <ul>

      <% for (let ids in urlDatabase) { %>
      <!--for the id strings in the database -->
            <% if (ids === userID) { %> <!--if the id is equal to the userID -->

                  <% for (let urls in userURLS) { %>
                    <li>
                      <a href="<%=userURLS[urls]%>">http://localhost:8080/u/<%=urls%></a>
                      ----->
                    <a href="<%=userURLS[urls]%>"><%=userURLS[urls]%></a></li>
                    <form method="POST" action="/urls/<%=urls%>/delete">
                      <button class="btn btn-primary btn-large">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>

                      <a class="btn btn-info btn-small" name="clicked" href="/urls/<%=urls%>">Edit</a>
                    </form>


                  <% } %>
            <% } %>

      <% } %>
    </ul>
    <p><a class="btn btn-success btn-md" href="/urls/new" style="margin-top: 10px;">Make a new Tiny URL</a></p>
  </div>

<%include partials/_footer%>

