 <%include partials/_header%>
 <div class="container">
  <div>
    <ul>
      <li><a href="<%=shortURL%>">http://localhost:8080/u/<%=shortURL%></a>------>   <a href="<%=urlDatabase[userID][shortURL]%>"><%=urlDatabase[userID][shortURL]%></a></li>
    </ul>

    <a class="btn btn-success btn-md"href="/urls">Back To My URLS</a>

    <div style="margin: 20px;">
      <form method="POST">
        <label for="longURL">Update your URL: </label>
        <input id="longURL" type="text" name="longURL" value="<%=urlDatabase[userID][shortURL]%>">
        <input type="submit" value="UPDATE!">
      </form>
    </div>
  </div>
  </div>



<%include partials/_footer%>

